apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "authtranslator.fullname" . }}-config
  labels:
    {{- include "authtranslator.labels" . | nindent 4 }}
data:
  config.yaml: |-
{{ .Values.config | indent 4 }}
  allowlist.yaml: |-
{{ .Values.allowlist | indent 4 }}
