apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "authtranslator.fullname" . }}
  labels:
    {{- include "authtranslator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "authtranslator.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "authtranslator.labels" . | nindent 8 }}
    spec:
      {{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      containers:
        - name: authtranslator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["./authtranslator"]
          args:
            {{- if .Values.redisAddress }}
            - "-redis-addr"
            - {{ .Values.redisAddress | quote }}
            {{- end }}
            {{- if .Values.redisCA }}
            - "-redis-ca"
            - {{ .Values.redisCA | quote }}
            {{- end }}
            {{- if .Values.secretRefresh }}
            - "-secret-refresh"
            - {{ .Values.secretRefresh | quote }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /app/config.yaml
              subPath: config.yaml
            - name: config
              mountPath: /app/allowlist.yaml
              subPath: allowlist.yaml
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /_at_internal/healthz
              port: http
          readinessProbe:
            httpGet:
              path: /_at_internal/healthz
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "authtranslator.fullname" . }}-config
